@tailwind base;
@tailwind components;
@tailwind utilities;

/* Remove scrollbar tailwindcss*/
.scrollbar-hide::-webkit-scrollbar {
  display: none;
  
}



/* Remove the white scollbar in feed*/

#feed {
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}


